<section class="w-90-l mb6 center mw10 flex flex-wrap">
    {{ range .list }}
    <div class="w-100 w-50-m w-25-l pa3">
            
                <div class="w3 w4-l center">
					    <picture class="">
						    <source srcset="{{ .webpS }} 500w" type="image/webp">
						    <source srcset="{{ .imageS }} 500w"	type="image/png">
						    <img src="{{ .imageS }}" alt="{{ .alt }}" class="fit-contain" loading="lazy">	
                        </picture>
                </div>
                    <div class="center word-break mw6">
					    <h2 class="tc f3">{{ .title }}</h2>
                        <p class="f3">{{ .text }}</p>
                    </div>    
            </div>    
			{{ end }}
            
    </div>

</section>