<head>

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

    <link href="/css/tachyons.min.css" rel="stylesheet">


	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@400;900&display=swap" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://vibecdn.azureedge.net/ctpm/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="https://vibecdn.azureedge.net/ctpm/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://vibecdn.azureedge.net/ctpm/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="https://vibecdn.azureedge.net/ctpm/safari-pinned-tab-16x16.svg" color="rgb(41,46,121)">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="Central Tucson Property Management">
	<meta property="og:url" content="https://centraltucsonpropertymanagement.com/">
	<meta property="og:image" content="https://vibecdn.azureedge.net/ctpm/android-chrome-512x512.png">
	<meta property="business:contact_data:street_address" content="1024 N Euclid Avenue">
	<meta property="business:contact_data:locality" content="Tucson">
	<meta property="business:contact_data:region" content="Arizona">
	<meta property="business:contact_data:postal_code" content="85719">
	<meta property="business:contact_data:country_name" content="United States">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://centraltucsonpropertymanagement.com/">
	<meta property="twitter:title" content="Property Management You Can Trust. | Central Tucson Property Management">
	<meta property="twitter:description" content="Home and Parking Rental Services">
	<meta property="twitter:image" content="https://vibecdn.azureedge.net/ctpm/android-chrome-512x512.png">
  
</head>