<header class="mw9 center">
    <div class="mw7 pa2">
        <h1 class="f1 b">
            {{ .title }}
        </h1>
        <p class="f3">
            {{ .subtitle | safeHTML }}
        </p>
    </div>
    <picture class="db-l dn pa2">
        <source srcset="{{ .mobileWebp }}" media="(max-width: 450px)" type="image/webp">
        <source srcset="{{ .mobile }}" media="(max-width: 450px)" type="image/jpeg">
        <source srcset="{{ .webpL }} 2000w" type="image/webp">
        <source srcset="{{ .imageL }} 2000w" type="image/jpeg"> 
        <img src="{{ .imageL }}" alt="Portfolio Map" class="w-100 fit-cover" width="2000" height="1000"> 
    </picture>
    <picture class="db dn-l pa2">
        <source srcset="{{ .mobileWebp }}" media="(max-width: 450px)" type="image/webp">
        <source srcset="{{ .mobile }}" media="(max-width: 450px)" type="image/jpeg">
        <source srcset="{{ .webpL }} 2000w" type="image/webp">
        <source srcset="{{ .imageL }} 2000w" type="image/jpeg"> 
        <img src="{{ .imageL }}" alt="Portfolio Map" class="fit-contain"> 
    </picture>
</header>
