<header class="mb5 cf bg-green vh-75 flex-l items-center relative" role="banner">
 
  <section class="w-100 w-50-l vh-75-m fl flex-m items-center">

    <div class="center mb3 pl3 pr3 ml5-l">
      <h1 class="f1 f1-l fw9 mw6-t lh-title">
        {{ .title }}
      </h1>

      {{ if .subtitle }}
      <p class="f3 f2-l fw5 lh-title pb3 word-break mw5-t mw6">
        {{ .subtitle | safeHTML }}
      </p>
      {{ end }}

      <div>
        <a class="mw5 w5-ns f7 f4-l dib link grow tc bg-blue white ba b--blue pa3 b br1 mr4-l mt3 mt0-ns" href="tel:(520) 276-9422">(520) 276-9422</a>
        <a class="mw5 w5-ns f7 f4-l dib link grow tc bg-blue white ba b--blue pa3 b br1 mt3 mt2-ns ml3 ml0-l" href="/service-cost">{{ .button }}</a>
      </div>
    </div>

   
  </section>

  <div class="br-100 pa3 bg-white w5 absolute left-50 nl6 dn dib-l">
    <img src="{{ .logo }}" alt="Logo">
    </div>

  <picture class="w-100 w-50-l fl nb1-l mb5 mb0-l">
    <source srcset="{{ .webpS }} 500w, {{ .webpM }} 1000w" type="image/webp">
    <source srcset="{{ .imageS }} 500w, {{ .imageM }} 1000w" type="image/jpeg">
    <img src="{{ .imageM }}" alt="Services" class="vh-50 vh-75-ns w-100 fit-cover">
  </picture>

  
</header>

<div class="center tc ph2 ph5-ns mb5">
  <h2 class="f2 b black">{{.intro.heading}}</h2>
  <p class="f4">{{.intro.text}}</p>
    <div class="pt1 mw5 mw6-ns center bg-green">

    </div>
</div>