<div class="cf mw10 center" role="banner">
 
  <picture>
    <source srcset="{{ .webpS }} 700w, {{ .webpM }} 1000w" type="image/webp">
    <source srcset="{{ .imageS }} 700w, {{ .imageM }} 1000w" type="image/jpeg">
    <img src="{{ .imageM }}" alt="{{ .alt }}" class="fit-contain w-100 w-50-l" loading="lazy">
  </picture>

  <div class="w-100 w-50-l fl flex items-center">
    <div class="center mb3 pl3 pr3 ml5-l">
      <h1 class="f2 fw9 lh-title">
        {{ .heading }}
      </h1>
      <p class="f3">
        {{ .description | safeHTML }}
      </p>
      <p class="mt1 cursive">
        {{ .signature }}
      </p>
    </div>
  </div>

</div>