<header class="mw10 center">
    <div class="mw7 ph2 ph5-l pt5-l">
        <h1 class="f1 b ma0">
            {{ .title }}
        </h1>
        <p class="f3">
            {{ .subtitle | safeHTML }}
        </p>
    </div>
    <picture>
        <!--<source srcset="{{ .mobile }}" media="(max-width: 450px)">-->
        <source srcset="{{ .webpM }} 2000w" type="image/webp">
        <source srcset="{{ .imageM }} 2000w" type="image/jpeg"> 
        <img src="{{ .imageM }}" alt="Portfolio Map" class="w-100 vh-40 vh-75-ns fit-cover">      
    </picture>
</header>
