<nav class="bg-white black cf">

	<div class="center flex-ns flex-wrap items-center justify-start pt2 relative dn dib-ns">
		<a class="dim" href="/">
			<img src="https://vibecdn.azureedge.net/cths/logo.svg" alt="Logo" class="ml5 ma3 db link w4">
		</a>
		<div class="absolute right-2 mb4">
		<ul class="list dib">
			<li class="f4 dib mr5 mr2-m" role="menuitem"><a class="b dim link blue" href="/services" class="link">Services</a></li>
			<li class="f4 dib mr5 mr2-m" role="menuitem"><a class="b dim link blue" href="/about-local-services" class="link">About</a></li>
			<li class="f4 dib mr5 mr2-m" role="menuitem"><a class="b dim link blue" href="/service-cost" class="link">Contact</a></li>
			<li class="f4 dib mr5 mr2-m"><a class="w4 b di link dim tc v-mid bg-red white ba b--red pa2 br1" href="tel:(520) 276-9422">(520) 276-9422</a></li>
		</ul>
		</div>
	</div>

		<input type="checkbox" id="burger" class="dn">
  		<label for="burger" class="dn-ns fr pr3 pt3 f2">
                <span class='db w2 mt1 mb2 bw2 pb2 bt bb b--blue'></span>
                <span class='db w2 mt1 bw2 pb1 bt b--blue'></span>
		</label>

		<a href="/" class="dn-ns">
			<img src="https://vibecdn.azureedge.net/cths/logo.svg" alt="Logo" class="db w3 pb2 pa2">
		</a>
		
		<ul class="menu overflow-hidden dn-ns center list pa0 ma0 f2">
			<li class="pl6 tl">
				<a href="/" class="blue link">Home</a>
			  </li>
			<li class="pl6 tl">
			  <a href="/services" class="blue link">Services</a>
			</li>
			<li class="pl6 tl ">
			  <a href="/about-local-services" class="blue link">About</a>
			</li>
			<li class="pl6 tl ">
			  <a href="/service-cost" id="contact-link" class="blue link">Contact</a>
			</li>
		</ul>

	</nav>

	

	<!--<a href="/mobile-nav" class="dtc fr tr v-mid dn-ns w-15 mh4 p0-ns link dim dark-gray primary">
		<span class='db w2 mt1 mb2 bw2 pb2 bt bb b--dark-gray'></span>
		<span class='db w2 mt1 bw2 pb1 bt b--dark-gray'></span>
	  </a>-->

