<nav class="bg-white black cf mw10 center">

	<div class="center flex-l flex-wrap items-center justify-start pt2 relative dn db-l">
		<a class="dim" href="/">
			<img src="https://vibecdn.azureedge.net/ctpm/logo.svg" alt="Logo" class="ml3 ma3 db link w4">
		</a>
		<div class="mb4 right-2 absolute">
		<ul class="list dib">
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/portfolio" class="link">Portfolio</a></li>
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/about" class="link">About</a></li>
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/contact" class="link">Contact</a></li>
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/parking-for-rent" class="link">Parking</a></li>
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/units-for-rent" class="link">Units for Rent</a></li>
			<li class="f5 dib mr2 mr3-l"><a class="w4 b di link dim tc v-mid bg-red white ba b--red pa2 br1" href="https://centraltucsonpropertymanagement.managebuilding.com/Resident/portal/login" target="_blank">Maintanence Request</a></li>
		</ul>
		</div>
	</div>

		<input type="checkbox" id="burger" class="dn">
  		<label for="burger" class="dn-l fr pr3 pt3 f2">
                <span class='db w2 mt1 mb2 bw2 pb2 bt bb b--blue'></span>
                <span class='db w2 mt1 bw2 pb1 bt b--blue'></span>
		</label>

		<a href="/" class="dn-l">
			<img src="https://vibecdn.azureedge.net/ctpm/logo.svg" alt="Logo" class="db w3 pb2 pa2">
		</a>
		
		<ul class="menu overflow-hidden dn-l center list pa0 f2 tc">
			<li class="pb3">
				<a href="/" class="blue link">Home</a>
			  </li>
			<li class="pb3">
			  <a href="/portfolio" class="blue link">Portfolio</a>
			</li>
			<li class="pb3">
			  <a href="/about" class="blue link">About</a>
			</li>
			<li class="pb3">
			  <a href="/contact" id="contact-link" class="blue link">Contact</a>
			</li>
			<li class="pb3">
				<a href="/parking-for-rent" id="contact-link" class="blue link">Rent Parking</a>
			</li>
			<li class="pb3">
				<a href="/units-for-rent" id="contact-link" class="blue link">Units for Rent</a>
			</li>
			<li class="pb3">
				<a href="https://centraltucsonpropertymanagement.managebuilding.com/Resident/portal/login" id="contact-link" class="w4 b di f4 link dim tc v-mid bg-red white ba b--red pa2 br1" target="_blank">Maintanence Request</a>
			</li>  
		</ul>

	</nav>

