<nav class="bg-white black mw10 center">

	<div class="flex-ns flex-wrap items-center justify-between-l justify-center dn dib-ns">
		<a class="dim" href="/">
			<img src="https://vibecdn.azureedge.net/ctpm/logo.svg" alt="Logo" class="ml3 db link w4 center">
		</a>
		<ul class="list ma0 pa0 dib ma3 tc">
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/portfolio" class="link">Portfolio</a></li>
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/about" class="link">About</a></li>
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/contact" class="link">Contact</a></li>
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/parking-for-rent" class="link">Parking</a></li>
			<li class="f5 dib mr2 mr3-l" role="menuitem"><a class="b dim link blue" href="/units-for-rent" class="link">Units for Rent</a></li>
			<li class="f5 dib mr2 mr3-l mb3-m mt3-m"><a class="w4 b di link dim tc v-mid bg-red white ba b--red pa2 br1" href="https://centraltucsonpropertymanagement.managebuilding.com/Resident/portal/login" target="_blank">Maintanence Request</a></li>
		</ul>
	</div>

        <div class="dn-ns cf">

                <a href="/" class="">
			<img src="https://vibecdn.azureedge.net/ctpm/logo.svg" alt="Logo" class="dib w4">
		</a>
		
                <input type="checkbox" id="burger" class="dn">
  		<label for="burger" class="dib fr f2 ma4">
                  <span class='db w2 mt1 mb2 bw2 pb2 bt bb b--blue'></span>
                  <span class='db w2 mt1 bw2 pb1 bt b--blue'></span>
		</label>

		<ul class="menu overflow-hidden center list ma0 pa0 f2 tc">
			<li class="pb3">
				<a href="/" class="blue link">Home</a>
			  </li>
			<li class="pb3">
			  <a href="/portfolio" class="blue link">Portfolio</a>
			</li>
			<li class="pb3">
			  <a href="/about" class="blue link">About</a>
			</li>
			<li class="pb3">
			  <a href="/contact" id="contact-link" class="blue link">Contact</a>
			</li>
			<li class="pb3">
				<a href="/parking-for-rent" id="contact-link" class="blue link">Rent Parking</a>
			</li>
			<li class="pb3">
				<a href="/units-for-rent" id="contact-link" class="blue link">Units for Rent</a>
			</li>
			<li class="pb3">
				<a href="https://centraltucsonpropertymanagement.managebuilding.com/Resident/portal/login" id="contact-link" class="w4 b di f4 link dim tc v-mid bg-red white ba b--red pa2 br1" target="_blank">Maintanence Request</a>
			</li>  
		</ul>
       </div> 

</nav>

