<section class="ph3 ph5-ns mw9 center pt4">
        <h3 class="f3">
            {{ .heading | safeHTML }}
        </h3>

    <div class="bg-green w4 w-25-l pt1 mb4"></div>

    
    <div class="flex flex-wrap justify-between pb4">
        {{ range sort .property "name" "ascend" }}
        <div class="mw6 pa2">
            <h4>
                {{ .name }}
            </h4>
            <p class="">
                {{ .description }}
            </p>
            <ul class="pa0 list">
                <li class="flex items-center mb2">
                    <picture class="mr3">
                        <source srcset="https://vibecdn.azureedge.net/ctpm/parking-icon-100.webp 100w" type="image/webp">
                        <source srcset="https://vibecdn.azureedge.net/ctpm/parking-icon-100.png 100w" type="image/png">
                        <img src="https://vibecdn.azureedge.net/ctpm/parking-icon-100.png" alt="address" class="w2 mr3"> 
                    </picture>
                    <p class="b">
                        {{ .available }} of {{ .parking }} Parking Stalls Available
                    </p>
                </li>
            </ul>
        </div>
        {{ end }}
    </div>   
</section>