{{ define "main" }}

{{ partial "jumbotron-home" (dict "button1" .Params.button1 "link1" .Params.link1 "button2" .Params.button2 "link2" .Params.link2 "webpURL" .Params.webpURL "gifURL" .Params.gifURL "placeholderURL" .Params.placeholderURL "imageS" .Params.images "imageM" .Params.imagem "imageL" .Params.imagel "webpS" .Params.webps "webpM" .Params.webpm "webpL" .Params.webpl "title" .Title "titlelarge" .Params.titlelarge "subtitle" .Params.subtitle "titlesmall" .Params.titlesmall) }}

{{ end }}
